@using eVote.Core.Application.ViewModels.ElectivePosition
@model ElectivePositionViewModel
@{

    bool editMode = ViewBag.EditMode ?? false;

    if (editMode == false)
    {
        ViewData["Title"] = "Agregar cargo electoral";
    }
    else ViewData["Title"] = "Editar cargo electoral";

}
    
@if (ViewBag.ErrorMessage != null)
{
 <div class="alert alert-danger alert-dismissible fade show" role="alert">
    @ViewBag.ErrorMessage
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
 </div>
}


<div class="col-14 col-md-4 offset-md-3 ">
    <div class="card">
        <div class="card-header bg-success text-bg-light"><h4 class="text-center">@(editMode ? "Editar : " + Model.Name : "Agregar una nueva posición Electiva")</h4></div>
        <div class="card-body">
            <form asp-controller="ElectivePosition" asp-action="@(editMode ? "Edit" : "Create")" method="POST" class="align-content-center">
                <input type="hidden" asp-for="Id"/>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Nombre:</label>
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Descripción del cargo electoral:</label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-dark float-end">guardar</button>
                    <a asp-controller="ElectivePosition" asp-action="Index" class="btn btn-outline-dark float-end me-2">Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>

